@import "bootstrap-sprockets";
@import "bootstrap";


body, html {
  background-image: url("Think-Russia-Moscow-StBasil-502362300-Skadr-copy.jpg");

    /* Full height */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body
{
	padding-top: 60px;
  //padding-bottom:160px;
}

.bg { 
    /* The image used */
	background-image: url("Think-Russia-Moscow-StBasil-502362300-Skadr-copy.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.main_head{
  color: white;
  letter-spacing: .2rem;
}

whiteHeader


h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: #fff;
    text-decoration: none;
  }

}

/* footer*/
footer{
  position:fixed;
  bottom: 0;
  width:100%;
  margin-top: 45px; //отступ сверху 
  padding-top: 5px; // подушка сверху
  background-color: black;
  //border-top: 1px solid #eaeaea; //разделитель: толщина, цвет
  color: #777; //цвет текста
  
    small
    {
      margin-left: 5em;
    }

  a {
     color: #555; // цвет ссылок
    }
  
  a:hover {
    color: #222; // цвет ссылок он ховер
    }

  small {
    float: left; // контейнер налево
    }

  ul {
    float: right; // список направо
    list-style: none; // убрать точки
    margin-right: 5em ;
    li {
      float: left; // выровнять список в строчку
      margin-left: 15px; //расстояние между ссылками
        :hover {
    color: white;
    text-decoration: none;
  }

      }
    }

}


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: 1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0  30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.user {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}




