// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.whiteHeader {
    color: #fff;
    letter-spacing: .125rem;
}

p.signUpUtility {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    background-color: #ff8c03;
    margin-top: 2rem;
}